@{
    ViewData["Title"] = "Purchasing";
}
<br />
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<hr />
<br />
<br />
<h3>What would you like to do?</h3>
<hr />
<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="text-center">My Purchase Orders</h4>
            </div>
            <h2 class="text-center"><i class="fas fa-search-dollar fa-4x text-info text-center"></i></h2>
            <hr />
            <div class="panel-body">
                <a href="@Url.Action("ViewPurchaseOrders", "Purchasing")" class="btn btn-primary btn-block">
                    View My Purchase Orders
                </a>
                <br />
                <br />
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="text-center">Manage Purchase Orders</h4>
            </div>
            <h2 class="text-center"><i class="fas fa-cart-plus fa-4x text-info text-center"></i></h2>
            <hr />
            <div class="panel-body">
                <a href="@Url.Action("CreatePurchaseOrder", "Purchasing")" class="btn btn-primary btn-block">
                    Create Purchase Order
                </a>
                <a href="@Url.Action("UpdatePurchaseOrder", "Purchasing")" class="btn btn-primary btn-block">
                    Update Purchase Order
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="text-center">Manage Vendors</h4>
            </div>
            <h2 class="text-center"><i class="fas fa-tasks fa-4x text-info text-center"></i></h2>
            <hr />
            <div class="panel-body">
                <a href="@Url.Action("AddNewVendor", "Purchasing")" class="btn btn-primary btn-block">
                    Add New Vendor
                </a>
                <a href="@Url.Action("UpdateVendor", "Purchasing")" class="btn btn-primary btn-block">
                    Update Vendor
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="text-center">Reports</h4>
            </div>
            <h2 class="text-center"><i class="fas fa-print fa-4x text-info text-center"></i></h2>
            <hr />
            <div class="panel-body">
                <a href="@Url.Action("GenerateReport", "Purchasing")" class="btn btn-primary btn-block">
                    Generate PO Reports
                </a>
                <br />
                <br />
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />